In [1]:
import pandas as pd

In [2]:
review_df = pd.read_csv("../data/p4k_reviews.csv")
review_df.head()

   artist  album  genre       review        lyrics          date  score
0  artist  album  genre  review_text  album_lyrics  publish_date  score
1  artist  album  genre  review_text  album_lyrics  publish_date  score
2  artist  album  genre  review_text  album_lyrics  publish_date  score
3  artist  album  genre  review_text  album_lyrics  publish_date  score
4  artist  album  genre  review_text  album_lyrics  publish_date  score